# <center>Lab Assignment 3</center>

In [1]:
dataCar=datasets::mtcars

# One way anova

In [2]:
one_way<-aov(dataCar$disp ~ factor(dataCar$gear))
summary(one_way)

                     Df Sum Sq Mean Sq F value   Pr(>F)
factor(dataCar$gear)  2 280221  140110   20.73 2.56e-06 ***
Residuals            29 195964    6757
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [3]:
 gear3Data=dataCar$disp[dataCar$gear==3]
gear4Data=dataCar$disp[dataCar$gear==4]
gear5Data=dataCar$disp[dataCar$gear==5]
Mod_data<-list(gear3Data,gear4Data,gear5Data)

 **MY Function**

In [4]:
#own function 
One_anova<-function (lis, conf)
{
    grand_mean=0
    n=0
    for(item in lis)
        {
#         sp_mean<-append(sp_mean,mean(item))
        grand_mean=grand_mean+sum(item)
        n=n+length(item)
    }
    SSb=0
    SSw=0
    grand_mean=grand_mean/n
   for(item in lis)
       {
       SSb=SSb+length(item)*(mean(item)-grand_mean)^2
   }
     
    
    for(item in lis)
        {
        for(j in item)
            {
            SSw=SSw+(j-mean(item))^2
        }
    }
    k=length(lis)
    n=n-k
    Msb=SSb/(k-1)
    Msw=SSw/n
    Fcal=Msb/Msw
    Ftab=qf(1-conf,df1=k-1,df2=n)
    cat("                   DF      SS           MSS   \n")
    cat("Between Classes: ",k-1,"    ",SSb,"   ",Msb,"\n")
    cat("Within Classes:  ",n,"   ",SSw,"   ",Msw,"\n")
    cat("Fcal: ",Fcal,"\n")
    if(Ftab>=Fcal)
        {
        cat("NUll Hyphothesis: True\n")
    }else
        {
        cat("Alternative Hyphothesis: True\n")
    }
}
One_anova(Mod_data,0.95)

                   DF      SS           MSS
Between Classes:  2      280220.6     140110.3
Within Classes:   29     195964.2     6757.385
Fcal:  20.7344
Alternative Hyphothesis: True

# Two way anova

In [5]:
gear3Data=dataCar$disp[dataCar$gear==3]
gear4Data=dataCar$disp[dataCar$gear==4]
gear5Data=dataCar$disp[dataCar$gear==5]
Mod_data<-list(gear3Data,gear4Data,gear5Data)
new_data=matrix(0,nrow=3,ncol=2)
nu<-c()
gear<-c()
am<-c()
for( i in 1:3)
    {
    for(j in 1:2)
        {
        new_data[i,j]=mean(dataCar$disp[dataCar$gear==(i+2)&dataCar$am==(j-1)])
        if(is.na(new_data[i,j])){
            new_data[i,j]=0
            nu<-append(nu,new_data[i,j])
            }else
            {
            nu<-append(nu,new_data[i,j])
        }
        gear<-append(gear,(i+2))
        am<-append(am,(j-1))
    }
}
new_data

     [,1]    [,2]
[1,] 326.300   0.0000
[2,] 155.675 106.6875
[3,]   0.000 202.4800

**My Function**

In [6]:
two_way=aov(nu ~ factor(gear)+factor(am))
summary(two_way)

             Df Sum Sq Mean Sq F value Pr(>F)
factor(gear)  2   3834    1917   0.055  0.948
factor(am)    1   4977    4977   0.142  0.742
Residuals     2  69958   34979

In [7]:
two_anova<-function (lis, conf)
{
    Total_A<-c()
    Total_B<-c()
   for(i in 1:length(lis[,1]))
       {va=0
       for( j in 1:length(lis[i,]))
           {
           va=va+lis[i,j]
       }
        Total_A<-append(Total_A,va)
   }
    
    for(i in 1:length(lis[1,]))
      {va=0
        for(j in 1:length(lis[,i]))
            {
           va=va+lis[j,i] 
        }
       Total_B<-append(Total_B,va)
    }
     
    grand_total=sum(Total_A)
    p=length(lis[,1])
    q=length(lis[1,])
    sq_total=0
     
     for(item in lis)
         {
         sq_total=sq_total+item^2
     }
    
    cor_fact=(grand_total)^2/(p*q)
    total_ss=sq_total-cor_fact
    ssa=(sum((Total_A)^2)/q)-cor_fact
    ssb=(sum((Total_B)^2)/p)-cor_fact
    sse=total_ss-ssa-ssb
    
    Msa=ssa/(p-1)
    Msb=ssb/(q-1)
    Mse=sse/((p-1)*(q-1))
    Fcal1=Msa/Mse
    Fcal2=Msb/Mse
    Ftab1=qf(1-conf,df1=p-1,df2=(p-1)*(q-1))
    Ftab2=qf(1-conf,df1=q-1,df2=(p-1)*(q-1))
      
    cat("                   DF    SS     MSS   \n")
    cat("Between level A: ",p-1,"   ",ssa,"   ",Msa,"\n")
    cat("Begween level B: ",q-1,"   ",ssb,"   ",Msb,"\n")
    cat(" Error         : ",(p-1)*(q-1),"   ",sse,"   ",Mse,"\n")
    cat("Fcal1: ",Fcal1," ")
    cat(" Fcal2: ",Fcal2,"\n")
    if(Ftab1>=Fcal1&&Ftab2>=Fcal2)
        {
        cat("Null Hyphothesis for both factor is accepted. ")
    }
    else if(Ftab1>=Fcal1)
        {
        cat("For first factor NULL HYphothesis is accpeted and for second factor NULL hyphothesis is rejected.")
    }
        else if(Ftab2>=Fcal2)
            {
             cat("For first factor NULL HYphothesis is rejected and for second factor NULL hyphothesis is accepted.")
        }
            else
                {
                cat("Alternative Hyphothesis is Accepted.")
            }
}
two_anova(new_data,0.95)

                   DF    SS     MSS
Between level A:  2     3834.218     1917.109
Begween level B:  1     4977.072     4977.072
 Error         :  2     69957.74     34978.87
Fcal1:  0.05480764   Fcal2:  0.142288
Alternative Hyphothesis is Accepted.